form#green-calculator .col {
  display: flex;
}

.calc-form-control {
  width: 100%;
  padding: 0;
}
.calc-form-control-submit {
  width: 100%;
  padding: 1.5% 0;
}

.calculate-btn {
  text-align: center;
  background: #ffa500;
  border: 2px solid #d47c00;
  color: white;
  font-weight: normal;
  padding: 7px 15px;
  margin-top: 15px;
  border-radius: 5px;
}

.calculate-btn:hover {
  color: #ffa500;
  background: #fff;
}
